.main {
    background-color: #282c34;
}

.formPeople {
    margin: 0;

    &__inputContainer {
        text-align: center;

        & label {
            color: aquamarine;
        }
    }
}

.peopleList {
    display: flex;
    flex-direction: column;
    gap: 10px;


    &__item {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: justify;
        width: 300px;
        color: bisque;
        font: bolder;

    }

    &__button {
        border-radius: 30px;
    }

    &__containerAnimation {
        position: absolute;
        transform: translateX(70%) translateY(-124%);
        width: 500px;
        height: 300px;
        background-image: url(../Media/onRemoveAnimation.gif);
        background-position: center;
        background-size: cover;

        &__paragraph {text-align: left;
            color: red;
            transform: translateX(2px) translateY(123px);
        }
    }


}